<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Error 500 Something went wrong!</h1>
      <p>mmmm maybe try again, i guess we'll work on it, maybe</p>
      <a class="def-button" href="/">Return to homepage</a>
    </main>
  </body>
</html>
